@import url('https://fonts.googleapis.com/css2?family=League+Spartan:wght@400;500;700&display=swap');

:root {
    --dk-magenta: hsl(300, 43%, 22%);
    --pink: hsl(333, 80%, 67%);
    --dk-gray-magenta: hsl(303, 10%, 53%);
    --lt-gray-magenta: hsl(300, 24%, 96%);
    --white: hsl(0, 0%, 100%);
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'League Spartan', sans-serif;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.main {
    width: 85%;
    margin: 80px auto;
}

.first {
    text-align: center;
}

.first h1 {
    color: var(--dk-magenta);
    font-size: 40px;
    font-weight: 700;
    letter-spacing: -1px;
    line-height: 34px;
    padding-bottom: 24px;
}

.first p {
    color: var(--dk-gray-magenta);
    font-size: 17px;
    font-weight: 500;
    line-height: 24px;
    padding-bottom: 30px;
}

.card {
    background-color: var(--lt-gray-magenta);
    text-align: center;
    padding: 20px;
    color: var(--dk-magenta);
    font-size: 17px;
    font-weight: 700;
    margin-bottom: 30px;
    border-radius: 10px;
}

.stars {
    padding-bottom: 10px;
}

.card-client {
    background-color: var(--dk-magenta);
    padding: 30px;
    margin-bottom: 20px;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
}

.client {
    display: flex;
    flex-direction: row;
    padding-bottom: 20px;
}

.client img {
    height: 40px;
    border-radius: 50%;
    margin-right: 20px;
}

.name {
    color: var(--white);
    padding-bottom: 5px;
}

.verified {
    color: var(--pink);
}

.testament {
    color: white;
    font-size: 17px;
    line-height: 20px;
}

.img-mob-top {
    position:absolute;
    top: 0;
    z-index: -1;
}

.img-desk-top {
    display: none;
}

.img-mob-bot {
    position: absolute;
    bottom: 0;
    z-index: -2;
}

.img-desk-bot {
    display: none;
}

.attribution {
    font-size: 11px;
    text-align: center;
    padding-bottom: 20px;
  }
  .attribution a {
    color: hsl(228, 45%, 44%);
  }

  @media (min-width:500px) {
    .top-desktop {
        display: flex;
        justify-content: space-between;
        padding-bottom: 20px;
    }

    .main {
        width: 1100px;
        margin: 120px auto;
    }
    .first {
        width: 40%;
        text-align: left;
    }

    .first h1 {
        font-size: 50px;
        width: 70%;
        line-height: 45px;
    }

    .second {
        display: flex;
        flex-direction: column;
        padding-top: 25px;
        }

    .card {
        display: flex;
        flex-direction: row;
        width: 450px;
        padding: 14px 30px;
        /* margin: 10px; */
        align-items: center;
    }

    .card-one {
        margin: 10px 0;
    }

    .card-two {
        margin: 0 40px;
    }

    .card-three {
        margin: 10px 0 0 80px;
    }
    .stars {
        padding-bottom: 0;
        padding-right: 30px;
    }

    .third {
        display:flex;
        gap: 24px;
    }

    .card-client {
        height: 240px;
    }
    .card-client-two {
        margin-top: 20px;
    }

    .card-client-three {
        margin-top: 40px;
    }
    
    .img-mob-top {
        display: none;   
    }

    .img-desk-top {
        display:block;
        position:absolute;
        top: 0;
        left: 25px;
        z-index: -1;
    }

    .img-mob-bot {
        display: none;
    }

    .img-desk-bot {
        display: block;
        position: absolute;
        bottom: 0;
        right: 0;
        z-index: -3;
    }


  }